html,
body {
    height: 100%;
    padding-top: 1.8rem;
    padding-bottom: 5rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.bg {
    background-image: url("../media/nuages.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    background-image: url("../media/Vue_du_mont_ventoux.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 {
    background-image: url("../media/Massif_Mont_Blanc.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-welcome {
    background-image: url("../media/Reseau_Mondial.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-login {
    background-image: url("../media/Serrure.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-logout {
    background-image: url("../media/Serrure.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-dashboard {
    background-image: url("../media/Fond_degrade_bleu_alphanum.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-other {
    background-image: url("./media/Colonnes_binaires.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-msg {
    color: red;
}

.status-WATCHING {
    color: deepskyblue;
}

.status-RUNNING {
    color: blue;
}

.status-COMPLETED {
    color: green;
}

.status-ABORTED {
    color: red;
}

.status-LAUNCH_WAIT {
    color: lightgreen;
}

.status-DISABLED {
    color: dimgrey;
}

.status-TIME_OVERRUN {
    color: orangered;
}

.status-REFUSED {
    color: darkred;
}

.status-PENDING {
    color: deeppink;
}