html,
body {
/*    height: 100%;*/
    padding-top: 1.8rem;
    padding-bottom: 5rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-welcome {
    background-image: url("../media/Reseau_Mondial.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-login {
    background-image: url("../media/Serrure.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-logout {
    background-image: url("../media/Serrure.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-dashboard {
    background-image: url("../media/Fond_degrade_bleu_alphanum.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-other {
    background-image: url("../media/Colonnes_binaires.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.semi-transparent {
    background: rgba(255,255,255,0.5);
}

.slightly-transparent {
    background: rgba(255,255,255,0.8);
}

.semi-gradient-transparent {
    background: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5));
}

.error-msg {
    color: red;
}

.status-WATCHING {
    color: deepskyblue;
}

.status-RUNNING {
    color: blue;
}

.status-COMPLETED {
    color: green;
}

.status-ABORTED {
    color: red;
}

.status-LAUNCH_WAIT {
    color: lightgreen;
}

.status-DISABLED {
    color: dimgrey;
}

.status-TIME_OVERRUN {
    color: orangered;
}

.status-REFUSED {
    color: darkred;
}

.status-PENDING {
    color: deeppink;
}

.status-EVENT_WAIT {
    color: yellow;
}

/* Row of a job run selected in dashboard */
.selected-row {
    color: blue;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

.filtered {
/*    background-color: yellow;*/
    text-shadow: 2px 2px 5px blue;
}

.filtered2 {
    /*    background-color: yellow;*/
    text-shadow: 2px 2px 5px white;
}

.footer-text {
    color: white;
}

/* Feather Icons */
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-sm {
    width: 12px;
    height: 12px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: child;
}

/* For the pages displayed with grid */
.themed-grid-col {
     padding-top: 15px;
     padding-bottom: 15px;
     background-color: rgba(86, 61, 124, .15);
     border: 1px solid rgba(86, 61, 124, .2);
 }

.themed-container {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(123, 123, 123, .4);
}
